<h1>Dasboard#index</h1>
<%= link_to 'Students', students_path %><br>
<%= link_to 'Parents', parents_path %><br>
<%= link_to 'classrooms',levels_path %><br>
<%= link_to 'Types', types_path %><br>
<%= link_to 'Teachers', teachers_path %><br>
<%= link_to 'Attendances', attendances_path %><br>
<%= link_to 'Key Events', key_events_path %><br>
<%= link_to 'Events', events_path %><br>
<%= link_to 'Event Calendar', event_calender_path %>

