<link rel="stylesheet" href="/assets/theme_css/sweetalert/sweetalert.css">

<div class="wrapper">
  <%= render 'layouts/header'%>
  <%= render 'layouts/left_sidebar'%>
  <%= render 'layouts/right_sidebar'%>
  <section class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <div>
          Students
          <ol class="breadcrumb breadcrumb px-0 pb-0">
            <li class="breadcrumb-item">
              <a href="/levels"><%= render_breadcrumbs :separator => ' / ' %></a>
            </li>
          </ol>
        </div>
        <div class="ml-auto">
          <%= link_to(new_student_path,class: 'btn btn-labeled btn-success mb-2') do %>
             <span class="btn-label"><i class="fa fa-plus"></i></span>New Student
          <% end %>
          <a class="btn btn-labeled btn-primary mb-2" href="import.html"><span class="btn-label"><i class="fa fa-upload"></i></span>Import Students</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-2">
          <div class="ml-auto">
            <div class="input-group float-right">
              <div class="desktop-view">
                <select class="custom-select" id="student_batch" disabled = "true">
                  <option value="0">Bulk action</option>
                  <option value="1">Give Permission</option>
                  <option value="2">Send Email</option>
                  <option value="3">Send SMS</option>
                  <option value="3">Delete</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-10">
          <div class="desktop-view">
            <div id="student_status_id">
              <%= render "student_status"%>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xl-4 hide-on-desktop">
          <div class="card card-default">
            <div class="card-body">
              <p class="lead">Filters</p>
                <%= render 'filter_student'%>
            </div>
          </div>
        </div>
        <div class="mobile-view">
          <select class="custom-select" id="student_batch student_model" disabled = "true">
            <option value="0">Bulk action</option>
            <option value="1">Give Permission</option>
            <option value="2">Send Email</option>
            <option value="3">Send SMS</option>
            <option value="3">Delete</option>
          </select>
        </div>
        <div class="mobile-view">
          <div id="student_status_id">
            <%= render "student_status"%>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="card card-default">
            <div id = "student_list_table">
              <%= render 'student_list'%>
            </div>
          </div>
        </div>
        <div class="col-xl-4 hide-on-mobile">
          <div class="card card-default">
            <div class="card-body">
              <p class="lead">Filters</p>
                <%= render 'filter_student'%>
            </div>
          </div>
        </div>
    </div>
  </section>
  <%= render '/layouts/footer'%>
</div>

<script src="/assets/theme_js/sweetalert/sweetalert.min.js"></script>
<script src="/assets/theme_js/js/app.js"></script>

<script>
  // For Batch action enabled disabled when check on all checkbox
  $(document).on('click','#student_main_checkbox',function(){
    if($(this).is(':checked')){
      $('#student_batch').prop('disabled', false)
    }else {
      $('#student_batch').prop('disabled', true)
    }

  })

  // For Batch action enabled disabled when check on each checkbox
  $(document).on('click','#student_check_box',function(){
    if($(this).is(':checked')){
      $('#student_batch').prop('disabled', false)
    }else {
      $('#student_batch').prop('disabled', true)
    }
  })

  // Batch action modelpopup
  $( document ).ready(function() {
   $( "#student_batch" ).change(function() {
     var actions = this.value;
     // alert(actions);
      if(actions == 1)
        $('#gdprModal').modal('show')
      if(actions == 2)
        $('#emailModal').modal('show')
      if(actions == 3)
        $('#smsModal').modal('show')
       });
  });

  // For all status buttons
  $(".mb-1").click(function() {
   $(this).addClass('active');
   $(this).siblings("input").removeClass("active");
  });

</script>

<!-- Batch Action model popup -->

<!-- Email Modal-->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
  <%= render 'email_model_popup'%>
</div>

<!-- sms Modal-->
<div class="modal fade" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="smsModalLabel" aria-hidden="true">
  <%= render 'sms_model_popup'%>
</div>

<!-- GDPR Modal-->
<div class="modal fade" id="gdprModal" tabindex="-1" role="dialog" aria-labelledby="gdprModalLabel" aria-hidden="true">
  <%= render 'give_permission_model_popup' %>
</div>
