<link rel="stylesheet" href="/assets/theme_css/sweetalert/sweetalert.css">
<div class="wrapper">
  <%= render 'layouts/header'%>
  <%= render 'layouts/left_sidebar'%>
  <%= render 'layouts/right_sidebar'%>
  <section class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <div>
          <%= @student.name %>
          <ol class="breadcrumb breadcrumb px-0 pb-0">
            <li class="breadcrumb-item">
              <%= render_breadcrumbs :separator => ' / '%>
            </li>
            <li class="breadcrumb-item active"><%= @student.name %></li>
          </ol>
        </div>
        <div class="ml-auto">
          <button class="btn btn-labeled btn-danger mb-2 swal-demo7" type="button">
            <%= hidden_field_tag :d_student, @student.id %>
            <span class="btn-label"><i class="fa fa-trash-alt" ></i></span>Delete
          </button>
          <%= link_to(edit_student_path(@student.id),class: 'btn btn-labeled btn-warning mb-2') do %>
            <span class="btn-label"><i class="fa fa-pencil-alt"></i></span>Edit
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-default">
            <div class="card-body bb text-center">
              <div class="py-4">
                <img class="img-fluid rounded-circle img-thumbnail thumb96" src="/assets/user/02.jpg" alt="Contact">
              </div>
              <div class="text-center">
                <% if @student.status == "Enrolled" %>
                  <td><button class="mb-1 btn btn-success" type="button"><%= @student.status %></button></td>
                <% elsif @student.status == "Applied" %>
                <td><button class="mb-1 btn btn-warning" type="button"><%= @student.status %></button></td>
                <% elsif @student.status == "Shortlist" %>
                <td><button class="mb-1 btn btn-info" type="button"><%= @student.status %></button></td>
                <% elsif @student.status == "Waitlist" %>
                 <td><button class="mb-1 btn btn-danger" type="button"><%= @student.status %></button></td>
                <% end %>
              </div>
            </div>
            <div class="card-body">
              <%= render 'sibling_details'%>
            </div>
              <%= render 'student_details' %>
            <div class="card-body">
              <%= render 'chat_section' %>
            </div>
            <div class="card-body bg-gray-lighter">
              <a class="link-unstyled" href="#">Load (6) more comments</a>
            </div>
            <div class="card-body">
              <form class="mt-2" method="post" action="#">
                <textarea class="form-control no-resize" placeholder="Comment..." rows="1"></textarea>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div id="accordion">
            <div class="card card-default mb-1">
              <div class="card-header" id="headingThree">
                <div class="d-flex justify-content-end">
                  <div class="btn-group">
                    <button class="btn btn-link" data-toggle="dropdown">
                    <em class="fa fa-ellipsis-v fa-lg text-muted"></em>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right-forced animated fadeInLeft" role="menu">
                      <a class="dropdown-item" data-toggle="modal" data-target="#rewardModal" href="#">
                      <span>Give Reward</span>
                      </a>
                      <a class="dropdown-item" href="#">
                      <span>Print Details</span>
                      </a>
                      <a class="dropdown-item" href="#">
                      <span>Make Payment</span>
                      </a>
                      <a class="dropdown-item" data-toggle="modal" data-target="#emergencyModal" href="#">
                      <span>View Emergency Details</span>
                      </a>
                      <a class="dropdown-item" data-toggle="modal" data-target="#attndModal" href="#">
                      <span class="text-warning">Log Authrorised Absent</span>
                      </a>
                    </div>
                  </div>
                </div>
                <h4 class="mb-0">
                  <a class="text-inherit" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" href="">Registration Details</a>
                </h4>
              </div>
              <div class="collapse show" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body border-top">
                  <%= render 'registration_details' %>
                </div>
              </div>
            </div>
            <div class="card card-default mb-1">
              <div class="card-header" id="headingTwo">
                <h4 class="mb-0">
                  <a class="text-inherit collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" href="">Medical Details</a>
                </h4>
              </div>
              <div class="collapse show" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body border-top">
                  <%= render 'medical_details' %>
                </div>
              </div>
            </div>
            <div class="card card-default mb-1">
              <div class="card-header" id="headingPayment">
                <h4 class="mb-0">
                  <a class="text-inherit collapsed" data-toggle="collapse" data-target="#collapsePayment" aria-expanded="false" aria-controls="collapsePayment" href="">Payment Details</a>
                </h4>
              </div>
              <div class="collapse show" id="collapsePayment" aria-labelledby="headingPayment" data-parent="#accordion">
                <div class="card-header"><b>Outstanding Balance: £200</b></div>
                  <%= render 'payment_details' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render '/layouts/footer'%>
</div>
<script src="/assets/theme_js/sweetalert/sweetalert.min.js"></script>
<script src="/assets/theme_js/js/app.js"></script>

<!-- Emergency Contact details model -->
<div class="modal fade" id="emergencyModal" tabindex="-1" role="dialog" aria-labelledby="emergencyModalLabel" aria-hidden="true">
  <%= render 'model_popup' %>
</div>
