<link rel="stylesheet" href="/assets/theme_css/sweetalert/sweetalert.css">
<div class="wrapper">
  <%= render 'layouts/header'%>
  <%= render 'layouts/left_sidebar'%>
  <%= render 'layouts/right_sidebar'%>
  <section class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <div>
          Types
          <ol class="breadcrumb breadcrumb px-0 pb-0">
            <li class="breadcrumb-item">
              <a href="/types"><%= render_breadcrumbs :separator => ' / ' %></a>
            </li>
          </ol>
        </div>
        <div class="ml-auto">
          <%= link_to(new_type_path,class: 'btn btn-labeled btn-success mb-2') do %>
          <span class="btn-label"><i class="fa fa-plus"></i></span>New Type
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-2">
          <div class="ml-auto">
            <div class="input-group float-right">
              <div class="desktop-view">
                <select class="custom-select" id="type_batch" disabled = "true">
                  <option value="0">Bulk action</option>
                  <option value="2">Delete</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xl-4 hide-on-desktop">
          <div class="card card-default">
            <div class="card-body">
              <p class="lead">Filters</p>
              <%= render 'type_filter'%>
            </div>
          </div>
        </div>
        <div class="mobile-view">
          <select class="custom-select" id="type_batch" disabled = "true">
            <option value="0">Bulk action</option>
            <option value="2">Delete</option>
          </select>
        </div>
        <div class="col-xl-8">
          <div class="card card-default">
            <div id="type_list_table">
              <%= render 'type_list'%>
           </div>
          </div>
        </div>
        <div class="col-xl-4 hide-on-mobile">
          <div class="card card-default">
            <div class="card-body">
              <p class="lead">Filters</p>
              <%= render 'type_filter'%>
            </div>
          </div>
        </div>
      </div>
  </section>
  <%= render '/layouts/footer'%>
</div>
<script src="/assets/theme_js/sweetalert/sweetalert.min.js"></script>
<script src="/assets/theme_js/js/app.js"></script>

<script>
  $(document).on('click','#type_main_checkbox',function(){
    if($(this).is(':checked')){
      $('#type_batch').prop('disabled', false)
    }else {
      $('#type_batch').prop('disabled', true)
    }

  })
  $(document).on('click','#type_check_box',function(){
    if($(this).is(':checked')){
      $('#type_batch').prop('disabled', false)
    }else {
      $('#type_batch').prop('disabled', true)
    }
  })
</script>
<style type="text/css">
  @media screen and (max-width: 767px) {
  #type_list_table{
    overflow-x: auto;
  }
</style>
