<table class="table table-striped">
  <tbody>
    <tr>
      <td>
        <label class="col-form-label"> Contract Type:</label>
      </td>
      <td>
        <div class="form-group">
          <%= @teacher.contract_type %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="col-form-label">Employee Number:</label>
      </td>
      <td>
        <div class="form-group">
          <%= @teacher.employee_number %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="col-form-label">Start Date:</label>
      </td>
      <td>
        <div class="form-group">
          <%= @teacher.start_date %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="col-form-label">Leaving Date:</label>
      </td>
      <td>
        <div class="form-group">
          <%= @teacher.leaving_date %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="col-form-label">Job Title:</label>
      </td>
      <td>
        <div class="form-group">
          <%= @teacher.job_title %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="col-form-label">Nationality:</label>
      </td>
      <td>
        <div class="form-group">
          <%= @teacher.nationality %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="col-form-label">NI Number:</label>
      </td>
      <td>
        <div class="form-group">
          <%= @teacher.NI_number %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="col-form-label">Salary:</label>
      </td>
      <td>
        <div class="form-group">
          <%= @teacher.salary %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="col-form-label">Working Hours:</label>
      </td>
      <td>
        <div class="form-group">
          <%= @teacher.working_hours %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="col-form-label">Marital Status:</label>
      </td>
      <td>
        <div class="form-group">
          <%= @teacher.marital_status %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
