<link rel="stylesheet" href="/assets/theme_css/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="/assets/theme_css/datatables.net-keytable-bs/keyTable.bootstrap.css">
<link rel="stylesheet" href="/assets/theme_css/datatables.net-responsive-bs/responsive.bootstrap.css">
<link rel="stylesheet" href="/assets/theme_css/sweetalert/sweetalert.css">
<div class="wrapper">
  <%= render 'layouts/header'%>
  <%= render 'layouts/left_sidebar'%>
  <%= render 'layouts/right_sidebar'%>
  <section class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <div>
          Teachers
          <ol class="breadcrumb breadcrumb px-0 pb-0">
            <li class="breadcrumb-item">
              <a href="/levels"><%= render_breadcrumbs :separator => ' / ' %></a>
            </li>
          </ol>
        </div>
        <div class="ml-auto">
          <%= link_to(new_teacher_path,class: 'btn btn-labeled btn-success mb-2') do %>
             <span class="btn-label"><i class="fa fa-plus"></i></span>New Teacher
          <% end %>
          <button class="btn btn-labeled btn-primary mb-2" type="button">
          <span class="btn-label"><i class="fa fa-upload"></i></span>Import Teachers</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-2">
          <div class="ml-auto">
            <div class="input-group float-right">
              <div class="desktop-view">
                <select class="custom-select" id="teacher_batch" disabled="true">
                  <option value="0">Bulk action</option>
                  <option value="1">Delete</option>
                  <option value="2">Clone</option>
                  <option value="3">Export</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xl-4 hide-on-desktop">
          <div class="card card-default">
            <div class="card-body">
              <p class="lead">Filters</p>
              <%= render 'filter_teacher'%>
            </div>
          </div>
        </div>
        <div class="mobile-view">
          <select class="custom-select" id="teacher_batch" disabled="true">
            <option value="0">Bulk action</option>
            <option value="1">Delete</option>
            <option value="2">Clone</option>
            <option value="3">Export</option>
          </select>
        </div>
        <div class="col-xl-8">
          <div class="card b">
            <div class="card-body">
              <div id = "teacher_list_table">
                <%= render 'teacher_list'%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 hide-on-mobile">
          <div class="card card-default">
            <div class="card-body">
              <p class="lead">Filters</p>
              <%= render 'filter_teacher'%>
            </div>
          </div>
        </div>
      </div>
  </section>
  <%= render '/layouts/footer'%>
</div>
<script src="/assets/theme_js/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="/assets/theme_js/datatables.net/jquery.dataTables.js"></script>
<script src="/assets/theme_js/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/assets/theme_js/datatables.net-buttons/dataTables.buttons.js"></script>
<script src="/assets/theme_js/datatables.net-buttons-bs/buttons.bootstrap.js"></script>
<script src="/assets/theme_js/datatables.net-buttons/buttons.colVis.js"></script>
<script src="/assets/theme_js/datatables.net-buttons/buttons.flash.js"></script>
<script src="/assets/theme_js/datatables.net-buttons/buttons.html5.js"></script>
<script src="/assets/theme_js/datatables.net-buttons/buttons.print.js"></script>
<script src="/assets/theme_js/datatables.net-keytable/dataTables.keyTable.js"></script>
<script src="/assets/theme_js/datatables.net-responsive/dataTables.responsive.js"></script>
<script src="/assets/theme_js/datatables.net-responsive-bs/responsive.bootstrap.js"></script>
<script src="/assets/theme_js/sweetalert/sweetalert.min.js"></script>
<script src="/assets/theme_js/js/app.js"></script>

<style type="text/css">
  #datatable1_wrapper table.dataTable thead > tr > th.sorting{
    padding-right: 25px;
  }

}
</style>
<script>
  $(document).on('click','#teacher_main_checkbox',function(){
    if($(this).is(':checked')){
      $('#teacher_batch').prop('disabled', false)
    }else {
      $('#teacher_batch').prop('disabled', true)
    }

  })
  $(document).on('click','#teacher_check_selection',function(){
    if($(this).is(':checked')){
      $('#teacher_batch').prop('disabled', false)
    }else {
      $('#teacher_batch').prop('disabled', true)
    }
  })
</script>
