<%= form_tag '/levels' ,method: :get,remote: true do%>
  <table class="table bb table-striped filter-table">
    <tbody>
      <tr>
        <td colspan="2">
          <label class="col-form-label">Name</label>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <div class="form-group">
            <%= select_tag "q[name_contains]", options_for_select(level_filter),class: "chosen-select form-control"%>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= text_field_tag 'name' ,params[:name],class: " form-control "%>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <label class="col-form-label">Description</label>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <div class="form-group">
            <%= select_tag "q[description_contains]", options_for_select(level_filter),class: "chosen-select form-control"%>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= text_field_tag 'description' ,params[:description],class: " form-control "%>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <label class="col-form-label">Classroom Type</label>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="form-group">
            <%= select_tag "classroom_type", options_for_select([nil]+Level.pluck(:classroom_type).uniq),class: "chosen-select form-control"%>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <label class="col-form-label">Teacher</label>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="form-group">
            <%= select_tag "teacher", options_for_select([nil]+Teacher.pluck(:name,:id)),class: "chosen-select form-control"%>
          </div>
        </td>
      </tr>
        <td>
          <div class="form-group">
            <%= submit_tag 'Filter',class: "btn btn-sm btn-primary", id: "filter_level_list"%>
          </div>
        </td>
        <td>
          <div>
          <%= link_to 'Clear filter', levels_path,class: "btn btn-sm btn-warning", id: "clear-level-filter" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<%end%>

<style type="text/css">
  .filter-table td{
    padding: 5px;
  }
  .filter-table td .form-group{
    margin-bottom: 0;
  }
  #clear-level-filter{
    margin-left: -76px;
  }
</style>

