<% unless @parents.blank?%>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="table-ext-1">
      <thead>
        <th data-check-all>
          <div class="checkbox c-checkbox" data-toggle="tooltip" data-title="Check All" >
            <label>
            <input type="checkbox" name = parent_arr1[] value="<%=@parents.ids%>" class="check_box_selection" id="main_checkbox" >
            <span class="fa fa-check"></span>
            </label>
          </div>
        </th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Count</th>
        <th>Fee</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @parents.order('created_at DESC').each do |parent|%>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                <input type="checkbox" name = parent_arr[] value="<%=parent.id%>" id="check_box_selection">
                <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td><%=link_to "#{parent.name}",parent_path(parent.id)%></td>
            <td><%= parent.mobile%></td>
            <td><%= parent.email%></td>
            <td><%= parent.students_count%></td>
            <td>£<%=0.00%></td>
            <td>
              <div class="btn-group">
                <button class="btn btn-primary" type="button"><span class="fa fa-cog"></span></button>
                <button class="btn dropdown-toggle btn-primary" type="button" data-toggle="dropdown">
                <span class="sr-only">primary</span>
                </button>
                <div class="dropdown-menu" role="menu">
                  <%= link_to 'View',parent_path(parent.id),class: "dropdown-item"%>
                  <%= link_to 'Edit',edit_parent_path(parent.id),class: "dropdown-item"%>
                  <%= hidden_field_tag :d_parent, parent.id %>
                  <a href="JavaScript:void(0);" class= "dropdown-item swal-demo5">Delete</a>
                  <!-- <a href="" class="dropdown-item">Email Statement</a>
                  <a href="" class="dropdown-item">New Child</a> -->
                </div>
              </div>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="pagination-link">
    <%= js_will_paginate @parents%>
  </div>
<% else%>
  <p class="no_record_found">No Parent Found</p>
<% end %>


